@page "/usersoverview"
@inherits UsersOverviewBase

<h1 class="page-title">All Users</h1>
@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>User Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users)
        {
        <tr>
            <td>@user.UserId</td>
            <td>@user.Email</td>
            <td>
                <a href="@($"userdetail/{user.UserId}")" class="btn btn-primary table-primary">
                    Detail
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
}